body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffffff;
}

.app {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.subtitle {
  color: #488edf;
}

.books-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.book-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(31, 80, 154, 0.15);
}

.book-card h3 {
  margin-top: 0;
}

.desc {
  margin-top: 10px;
  color: #6e8eb4;
}

.summary {
  margin-top: 30px;
  font-size: 18px;
}

.footer {
  text-align: center;
  margin-top: 40px;
  padding: 10px 0;
  color: #3f86d8;
  border-top: 1px solid #456db3;
}